/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */



body,
html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}


* { box-sizing: border-box }


p{margin-bottom:1rem;font-size:inherit;line-height:1.6;text-rendering:optimizeLegibility}

em,i{font-style:italic}
b,em,i,strong{line-height:inherit}
b,strong{font-weight:700}
small{font-size:.875rem;line-height:inherit}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-family:Titillium Web,sans-serif;font-style:normal;font-weight:300;color:inherit;text-rendering:optimizeLegibility}
.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{line-height:0;color:#cacaca}
.h1,h1{font-size:3.125rem}
.h1,.h2,h1,h2{line-height:1.4;margin-top:0;margin-bottom:2rem}
.h2,h2{font-size:1.875rem}
.h3,h3{font-size:1.75rem}
.h3,.h4,h3,h4{line-height:1.4;margin-top:0;margin-bottom:1rem}
.h4,h4{font-size:1.25rem}
.h5,.h6,h5,h6{font-size:.975rem;line-height:1.4;margin-top:0;margin-bottom:1rem}


.sub{
color:#CCC;
position:-10px;
margin:0;
}

section {
  width: 100%;
  padding: 2% 15%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #CFFFF;
  height: 100vh;

  }
  
.dh4c { 
    padding: 2% 15%;
    background-image: url('static/img/ToyContigo_RACCS_A._Jiron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFF;
    height: 90vh;
    border-bottom:10px solid #C45173;
    text-shadow: 1px 1px #000;
}


.design { 
    height: 90vh;
}
.tech { 
    height: 90vh;
}


.approach { 
    padding: 2% 15%;
    height: 90vh;
}

.studies { 
    padding: 2% 15%;
    height: 90vh;
    background-color:#405D6C;
    color:#FFF;
}


.separator { 
    padding: 2% 15%;
    background-image: url('static/img/topo-3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#FFF;
    height: 10vh;
    border-top:1px solid #CCD9CF;
    border-bottom:10px solid #C45173;
    text-shadow: 1px 1px #000;
    background-color:#DEE0E2;
    background-opacity:0.3;
}


.separator-dark { 
    padding: 2% 15%;
    background-image: url('static/img/topo-3.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    color:#FFF;
    height: 10vh;
    border-top:1px solid #CCD9CF;
    border-bottom:10px solid #C45173;
    text-shadow: 1px 1px #000;
    background-color:#ADBFBB;
    background-opacity:0.3;
}

.container {
padding:0;
}
.cont_section {
  margin:0;
  padding:0;
  width:100%;
}

.content {
  display: table-cell;
  vertical-align: top;
  display: grid;
  grid-gap: 10px;
  padding:10px;

}

.content-4
  {width:24%;margin-right:0px;margin-left:10px;margin-bottom:10px;display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 10px;
  grid-auto-rows: max-content;}

.img-50 {
  float: right;
  width: 50%; /* three containers (use 25% for four, and 50% for two, etc) */
  border:10px solid #FFF;
  margin-left:10px;
}

.img-30 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; /* three containers (use 25% for four, and 50% for two, etc) */
}

.block {
min-height: 100px;
padding-top:0;
}

.white {
  border: 5px solid #FFF;
}

.content h5 {height:6rem;font-size:0.95em;}


@media screen and (min-width:50em)
{
.content
  {width:45%;margin-right:1%;margin-left:1%;margin-bottom:10px;display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 10px;
  grid-auto-rows: max-content;}
}


@media screen and (min-width:64em)
{
.content
  {width:23%;margin-right:1%;margin-left:1%;margin-bottom:10px;display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  grid-gap: 10px;
  grid-auto-rows: max-content;}
}

  

